@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Nova+Cut&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-family-header: 'Nova Cut', slab-serif, serif;
  --font-family-reader: 'EB Garamond', serif;
  --font-family-body: 'Saira Semi Condensed', sans-serif;

  font-family: var(--font-family-body);
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --color-pink: #EE5D87;
  --color-gold: #ECCF44;
  --color-gold-dark: #d5b92b;
  --color-bronze: #8C6845;
  --color-bronze-transparent: #8C684500;
  --color-black: #030001;
  --color-white: #ffdfe8;

  --gradient-gold: linear-gradient(to bottom right, var(--color-bronze) -40%, var(--color-gold-dark) 30%);
  --gradient-gold-border: linear-gradient(to left, var(--color-bronze-transparent), var(--color-gold-dark), var(--color-gold-dark), var(--color-gold-dark), var(--color-bronze-transparent));

  color: var(--color-white);
  background-color: var(--color-black);
}

html, body, #root, .App {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  font-size: 2rem;
}

h1, h2, h3, h4, nav * {
  font-family: var(--font-family-header);
  color: var(--color-pink);
}

nav {
  position: fixed;
}

nav * {
  color: var(--color-gold);
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: var(--color-gold);
  transition: all 0.2s linear;
}
a:hover {
  
  color: var(--color-bronze);
}


body {
  margin: 0;
  min-width: 320px;
}

.App {
  width: 100%;
  height: 100%;
}

main {
  padding: 4rem 2rem 2rem;
  width: 100%;
  box-sizing: border-box;
  height: calc(100% - 120px);
  top: 120px;
  position: fixed;
  overflow: auto;
  text-align: center;
}

.image-area {
  display: flex;
  justify-content: center;
  place-items: center;
}

.headshot {
  width: 300px;
  height: auto;
  clip-path: polygon(0 0, calc(100% - 40px) 0, 100% 100%, calc(0% + 40px) 100%);
  flex-grow: 0;
  flex-shrink: 0;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.text-area {
  max-width: 800px;
  margin: auto;
}

@media (min-width: 990px) {
  :root {
    font-size: 12px;
  } 

  main {
    top: 130px;
    height: calc(100% - 130px);
    animation: appear 0.4s 0.2s linear both;
    
  }
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-black);
    background-color: var(--color-gold);
  }

} */
@keyframes appearFromBottom {
  0% {
    transform: translate3d(0, 30%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes appearFromTop {
  0% {
    transform: translate3d(0, -30%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes appearFromRight {
  0% {
    
    transform: translate3d(30%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translateY(0,0,0);
    opacity: 1;
  }
}

@keyframes appearFromLeft {
  0% {
    transform: translate3d(-30%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translateY(0,0,0);
    opacity: 1;
  }
}

@keyframes clip-in {
  0% {clip-path: polygon(41% 0%, 41% 0%, 58% 100%, 58% 100%);}
  100% {
    clip-path: polygon(0% 0%, 92% 0%, 100% 100%, 8% 100%);
  }
}


@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}